header{
	height: 50px;
	background-image: url(/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
}

#setting_button{
	height: 30px;
	transition: 0.2s;
}
#setting_button:hover{
	transform: rotate(90deg);
}



#mods-area{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#mod-preview{
	padding: 5px;
	padding-left: 0;
}
#mod-image{
	background: black;
	height: 300px;
	width: 100%;
	object-fit: contain;
	border-radius: 8px;
}
#mod-image[src=""]{
	display: none;
}
#mod-description-text{
	margin: 0 10px;
}
#mod-author{
	display: flex;
	justify-content: space-between;
	gap: 5px;
}
#mod-description ul{
	padding-left: 0;
}
