header{
	height: 50px;
	background-image: url(/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	user-select: none;
}
header img {
	height: 30px;
}
header a {
	color: inherit;
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
header a:hover{
	text-decoration: underline;
}

#setting_button{
	height: 30px;
	transition: 0.2s;
}
#setting_button:hover{
	transform: rotate(90deg);
}



#mods-area{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	position: relative;
}
#mods-list-area{
	overflow: auto;
	scrollbar-width: thin;
	color-scheme: dark;
}
#mod-preview{
	padding: 5px;
	padding-left: 0;
	visibility: hidden;
	opacity: 0;
	transition: 0.25s;
}
#mod-preview.show{
	visibility: visible;
	opacity: 1;
}
#mod-image{
	background: black;
	height: 300px;
	width: 100%;
	object-fit: contain;
	border-radius: 8px;
}
#mod-image[src=""]{
	display: none;
}
#mod-description-text{
	margin: 0 10px;
}
#mod-author{
	display: flex;
	justify-content: space-between;
	gap: 5px;
}
#mod-description ul{
	padding-left: 1em;
}
#mod-description code{
	font-size: 1rem;
	color: #a9a9a9;
}

#search-area{
	display: flex;
	padding: 5px;
	padding-bottom: 0;
}

#mods-list .hide{
	display: none;
}

#retry_button{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	gap: 0.3em;
	font-size: 18px;
}
#retry_button.hide{
	display: none;
}
#retry_button svg{
	height: 1em;
}

.top-content{
	height: calc(100vh - 115px);
	margin-bottom: 15px;
	justify-content: flex-start;
}
.bottom-buttons{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.mods-install-list{
	overflow: auto;
	max-width: 50vw;
	scrollbar-width: thin;
	color-scheme: dark;
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.mods-install-list .mod-item {
	display: flex;
	align-items: center;
	gap: 6px;
}
.mods-install-list .mod-item img{
	height: 16px;
}
.mods-install-list .mod-item img:not(.remove){
	cursor: help;
}
.mods-install-list .mod-item .remove{
	margin-left: auto;
	margin-right: 5px;
}

#app-version{
	font-family: monospace;
	font-size: 14px;
	background: #666;
	padding: 2px 6px;
	border-radius: 12px;
}

#refs {
	display: none;
}
#refs.show{
	display: flex;
	gap: 1em;
	user-select: none;	
}
#refs a:hover{
	opacity: 0.75;
}
#refs img{
	height: 60px;
}

#settings .popup_wraper{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
#settings .popup_wraper hr{
	width: 100%;
}

.file_size{
	font-family: monospace;
	font-size: 14px;
}
#cache_size{
	margin-right: 2px;
}

.new-badge{
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
}

.gallery{
	margin-top: 50px;
	height: 360px;
	border-radius: 10px;
	overflow: hidden;
	user-select: none;
	mask-image:
		linear-gradient(to top, transparent 0%, black 20%, black 80%, transparent 100%),
		linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 100%),
		radial-gradient(black, transparent 80%);
	mask-composite: intersect;
	opacity: 0;
	transition: 3s;
}
.gallery.show{
	opacity: 1;
}
.gallery img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
