header{
	height: 50px;
	background-image: url(/images/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 12px;
	user-select: none;
}
header img {
	height: 30px;
}
header a {
	color: inherit;
	text-decoration: none;
	font-size: 20px;
	display: flex;
	align-items: center;
	gap: 10px;
}
header a:hover{
	text-decoration: underline;
}

#setting_button{
	height: 30px;
	transition: 0.2s;
}
#setting_button:hover{
	transform: rotate(90deg);
}

#mods-area{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 5px;
	position: relative;
	width: 100%;
	height: 100%;
}
#mods-list-area{
	overflow: auto;
	scrollbar-width: thin;
	color-scheme: dark;
}
#mod-preview{
	padding: 5px;
	padding-left: 0;
	opacity: 0;
	transition: 0.25s;
}
#mod-preview.show{
	opacity: 1;
}
#mod-image{
	background: black;
	height: 300px;
	width: 100%;
	object-fit: contain;
	border-radius: 8px;
	user-select: none;
}
#mod-image[src=""]{
	opacity: 0;
}
#mod-audio{
	width: 100%;
	margin-bottom: 10px;
	color-scheme: dark;
}
#mod-description-text{
	margin: 0 10px;
	text-align: left;
}
#mod-subtitle{
	display: flex;
	justify-content: space-between;
	gap: 5px;
}
#mod-downloads{
	display: flex;
	align-items: center;
	gap: 0.25rem;
}
#mod-downloads img {
	user-select: none;
}
#mod-downloads span:empty + img{
	display: none;
}
ul{
	padding-left: 1em;
}
#mod-description code{
	font-size: 1rem;
	color: #a9a9a9;
}

#search-area{
	display: flex;
	padding: 5px;
	padding-bottom: 0;
}

#retry_area{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	font-size: 18px;
	font-weight: bold;
}
#retry_area .button{
	display: flex;
	align-items: center;
	gap: 5px;
}

.top-content{
	height: calc(100vh - 115px);
	margin-bottom: 15px;
	justify-content: flex-start;
}
.bottom-buttons{
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.mods-install-list{
	overflow: auto;
	max-width: 50vw;
	scrollbar-width: thin;
	color-scheme: dark;
	display: flex;
	flex-direction: column;
	gap: 8px;
	text-align: left;
}
.mods-install-list .mod-item {
	display: flex;
	align-items: center;
	gap: 6px;
}
.mods-install-list .mod-item.prior {
	order: -1;
}
.mods-install-list .mod-item img{
	height: 16px;
}
.mods-install-list .mod-item img:not(.remove){
	cursor: help;
}
.mods-install-list .mod-item .remove{
	margin-left: auto;
	margin-right: 5px;
}

#app-version{
	font-family: monospace;
	font-size: 14px;
	background: #666;
	padding: 2px 6px;
	border-radius: 12px;
}

.links {
	display: flex;
	justify-content: center;
	gap: 1em;
	user-select: none;
}
.links a:hover{
	opacity: 0.75;
}
.links img{
	height: 60px;
}

#settings .popup_wraper{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
}
#settings .popup_wraper hr{
	width: 100%;
}

.file_size{
	font-family: monospace;
	font-size: 14px;
}
#cache_size{
	margin-right: 2px;
}

.new-badge{
	width: 10px;
	height: 10px;
	background: red;
	border-radius: 50%;
	cursor: help;
}

.progress-area {
	display: grid;
	grid-template-columns: 1fr auto;
	width: fit-content;
	margin: auto;
	gap: 20px 10px;
	align-items: center;
	justify-items: start;
}
